@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities{
    .container{
        @apply max-w-7xl mx-auto md:px-4
    }

    .btn {
        @apply lg:px-10 px-5 py-2.5 active:scale-95 duration-300 rounded-lg border border-accent 
    }

    .btn-disabled{
        @apply bg-secondary text-white cursor-not-allowed
    }

    .input {
        @apply border w-full p-3 outline-none text-white rounded
    }

    .error {
        @apply text-red-500 mt-2
    }

    .gradient-blue {
        @apply bg-gradient-to-r from-blue-400 to-blue-primary
    }
}

body {
    @apply bg-primary text-white
}

body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 10 10 black;
    border-radius: 50px;
    background:#122033;
}
body::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, #f3f3f36e 0%, #f4f4f46e 100%);
    border-radius: 10px;
}

.comment-scrollbar::-webkit-scrollbar {
    width: 12px;
}

.comment-scrollbar::-webkit-scrollbar-track {
    box-shadow: inset 10 10 black;
    border-radius: 50px;
}
.comment-scrollbar::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, #f3f3f333 0%, #f4f4f42c 100%);
    border-radius: 10px;
}




input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: all 5000s ease-in-out 0s;
}

textarea::-webkit-scrollbar {
    display: none;
}

textarea {
    -ms-overflow-style: none;
    scrollbar-width: none;
    resize: none;
}


/* Chrome, Safari, Edge */
.sidebar-scrollbar::-webkit-scrollbar {
    width: 8px;
}

.sidebar-scrollbar::-webkit-scrollbar-track {
    box-shadow: inset 0 0 black;
    border-radius: 50px;
}

.sidebar-scrollbar::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 10px;
}

.sidebar-scrollbar:hover::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, #f3f3f32c 0%, #f4f4f42f 100%);
}